@for(todo of todos(); track todo.id) {
<div class="list-group mb-2">
  <a
    (click)="selectTodo(todo)"
    class="list-group-item list-group-item-action"
    [class]="{ active: test()?.id === todo.id }"
    [attr.aria-current]="{ active: test()?.id === todo.id }"
  >
    <div class="flex justify-content-space-between">
      <div class="flex flex-column">
        <span>{{ todo.todo }}</span>
        <span>Completed: {{ todo.completed }}</span>
      </div>

      <div class="flex flex-column action-buttons">
        <button (click)="delete(todo.id); $event.stopImmediatePropagation()">
          Delete
        </button>
        <button
          (click)="moreDetails(todo.id); $event.stopImmediatePropagation()"
        >
          View More
        </button>
      </div>
    </div>
  </a>
</div>
}
