.container {
  height: 100%;
  overflow: scroll;
}

.action-buttons {
  font-size: x-small;
}

.justify-content-space-between {
  justify-content: space-between;
}

.list-group {
  min-width: 400px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
