<div class="container">
  <div class="col">
    <app-list
      [todos]="todoStore.todos()"
      [currentTodo]="todoStore.selectedTodo()"
      (deleteTodo)="todoStore.deleteTodo($event)"
      (selectTodo)="selectTodo($event)"
      (viewMore)="getTodo($event)"
    ></app-list>
  </div>
  <div class="col">
    <app-details
      [form]="form"
      [selectedTodo]="todoStore.selectedTodo()"
      (submitFormData)="saveTodo($event)"
      (clearFormData)="clearTodo()"
    ></app-details>
  </div>
</div>
